button, a.button, a.btn {
	background-color: #e3e3e3;
	border: 1px solid #e3e3e3;
	padding: 8px 10px;
	border-radius: 2px;
	font-size: 14px;
	color: $primary-text-colour;
	font-family: $primary-font-family;
	outline: none;
	border-radius: 3px;
	display: inline-block;
	@include prefix(transition, all 0.2s ease-in-out);

	&[disabled] {
		cursor: not-allowed;
	}

	&.btn-icon {
		padding: 0;
		border-radius: 0;
		border: none;
		background-color: transparent;

		&:hover:not([disabled]) {
			background-color: transparent;
		}
	}
	
	&:hover:not([disabled]) {
		background-color: darken(#e3e3e3, 10%);
	}

	&.btn-primary {
		background-color: $primary-colour;
		border: 1px solid $primary-colour;
		color: white;

		&:hover:not([disabled]) {
			background-color: darken($primary-colour, 10%);
		}
	}

	&.btn-secondary {
		background-color: $secondary-colour;
		border: 1px solid $secondary-colour;
		color: white;

		&:hover:not([disabled]) {
			background-color: darken($secondary-colour, 10%);
		}
	}

	&.btn-tertiary {
		background-color: $tertiary-colour;
		border: 1px solid $tertiary-colour;
		color: white;

		&:hover:not([disabled]) {
			background-color: darken($tertiary-colour, 10%);
		}
	}

	&.btn-quaternary {
		background-color: $quaternary-colour;
		border: 1px solid $quaternary-colour;
		color: white;

		&:hover:not([disabled]) {
			background-color: darken($quaternary-colour, 10%);
		}
	}

	&.btn-quinary {
		background-color: $quinary-colour;
		border: 1px solid $quinary-colour;
		color: white;

		&:hover:not([disabled]) {
			background-color: darken($quinary-colour, 10%);
		}
	}

	&.btn-success {
		background-color: $alert-success-colour;
		border: 1px solid $alert-success-colour;
		color: white;

		&:hover:not([disabled]) {
			background-color: darken($alert-success-colour, 10%);
		}
	}

	&.btn-warning {
		background-color: $alert-warning-colour;
		border: 1px solid $alert-warning-colour;
		color: white;

		&:hover:not([disabled]) {
			background-color: darken($alert-warning-colour, 10%);
		}
	}

	&.btn-danger {
		background-color: $alert-danger-colour;
		border: 1px solid $alert-danger-colour;
		color: white;

		&:hover:not([disabled]) {
			background-color: darken($alert-danger-colour, 10%);
		}
	}

	&.btn-notice {
		background-color: $alert-notice-colour;
		border: 1px solid $alert-notice-colour;
		color: white;

		&:hover:not([disabled]) {
			background-color: darken($alert-notice-colour, 10%);
		}
	}
}
