[v-cloak] { display: none; }

.pull-left { float: left !important; }
.pull-right { float: right !important; }
.auto-scroll { overflow-y: auto; }

.align-center { text-align: center; }
.align-right { text-align: right; }
.align-left { text-align: left; }

@for $i from 0 through 500 {
	.pl-#{$i} { padding-left: #{$i}px !important; }
	.pr-#{$i} { padding-right: #{$i}px !important; }
	.pt-#{$i} { padding-top: #{$i}px !important; }
	.pb-#{$i} { padding-bottom: #{$i}px !important; }
	.pa-#{$i} { padding: #{$i}px !important; }
	.ml-#{$i} { margin-left: #{$i}px !important; }
	.mr-#{$i} { margin-right: #{$i}px !important; }
	.mt-#{$i} { margin-top: #{$i}px !important; }
	.mb-#{$i} { margin-bottom: #{$i}px !important; }
	.ma-#{$i} { margin: #{$i}px !important; }
	.abs-top-#{$i} { top: #{$i}px !important; }
	.abs-bottom-#{$i} { bottom: #{$i}px !important; }
	.abs-left-#{$i} { left: #{$i}px !important; }
	.abs-right-#{$i} { right: #{$i}px !important; }
	.min-height-#{$i} { min-height: #{$i}px !important; }
	.max-height-#{$i} { max-height: #{$i}px !important; }
}

@for $i from 0 through 100 {
	.width-#{$i} { width: #{$i}#{'%'} !important; };
	.width-offset-left-#{$i} { padding-left: #{$i}#{'%'} !important; };
	.width-offset-right-#{$i} { padding-right: #{$i}#{'%'} !important; };
}

.color-primary { color: $primary-colour !important; };
.color-secondary { color: $secondary-colour !important; };
.color-tertiary { color: $tertiary-colour !important; };
.color-quaternary { color: $quaternary-colour !important; };
.color-quinary { color: $quinary-colour !important; };
.color-alert-success { color: $alert-success-colour !important; };
.color-alert-warning { color: $alert-warning-colour !important; };
.color-alert-danger { color: $alert-danger-colour !important; };
.color-alert-notice { color: $alert-notice-colour !important; };

.bgc-primary { background-color: $primary-colour !important; };
.bgc-secondary { background-color: $secondary-colour !important; };
.bgc-tertiary { background-color: $tertiary-colour !important; };
.bgc-quaternary { background-color: $quaternary-colour !important; };
.bgc-quinary { background-color: $quinary-colour !important; };
.bgc-alert-success { background-color: $alert-success-colour !important; };
.bgc-alert-warning { background-color: $alert-warning-colour !important; };
.bgc-alert-danger { background-color: $alert-danger-colour !important; };
.bgc-alert-notice { background-color: $alert-notice-colour !important; };
