$primary-font-family: 'Ubuntu', sans-serif !default;
$secondary-font-family: 'Ubuntu Mono', monospace !default;

$primary-colour: #424651 !default;
$secondary-colour: #C49799 !default;
$tertiary-colour: #BCE7FD !default;
$quaternary-colour: #8CD867 !default;
$quinary-colour: #D5E1A3 !default;

$primary-text-colour: #303030 !default;
$secondary-text-colour: #FFFFFF !default;

$header-height: 60px !default;
$sidebar-width: 200px !default;
$footer-height: 190px !default;
$page-width: 1200px !default;

$background-colour: #b1b1b1 !default;

$alert-success-colour: #09a85e !default;
$alert-warning-colour: #41bb11 !default;
$alert-danger-colour: #b62a00 !default;
$alert-notice-colour: #0093c0 !default;
